[submodule "external/wolfssl"]
	path = external/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
